{% extends 'base.html' %}
{% block title %}{{user}}{% endblock %}
{%block content%}
<div class="mx-auto mt-2" style="width: 200px">
    {% with messages = get_flashed_messages() %}
        {%if messages%}
            {%for msg in messages%}
                <p>{{msg}}</p>
            {%endfor%}
        {%endif%}
    {% endwith %}
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Zadej Email" value="{{email if email}}">
    <input type="submit" value="Potvrdit">
</form>
</div>
{%endblock%}